{%  block boolean_type %}
    {%  if value %} 
        <span class="label label-success">{{ options.label_yes|trans }}</span>
    {% else %}
        <span class="label label-default">{{ options.label_no|trans }}</span>
    {% endif %}
{%  endblock %}

{%  block text_type %}
    {{ value }}
{% endblock %}

{%  block image_type %}
    <img src="{{ value.url }}" alt="" width="{{ value.width }}" height="{{ value.height }}">
{% endblock %}


{%  block html_type %}
    {{ value|raw }}
{% endblock %}

{%  block decimal_type %}
    {##}  <div style="text-align: right;{% if (valueObject is defined) and (valueObject.original < 0) %}color:#ff0000;{% endif %}">{{ block('text_type') }}</div>
{% endblock %}

{%  block datetime_type %}
    {{ block('text_type') }}
{% endblock %}

{%  block date_type %}
    {{ block('text_type') }}
{% endblock %}

{%  block time_type %}
    {{ block('text_type') }}
{% endblock %}

{%  block input_type %}
    <input type="text" value="{{ value }}" class="grid-input{%if options.class is defined %} {{ options.class }}{% endif %}" style="{% if options.width is defined %}width:{{ options.width }};{% endif %}">
{% endblock %}

{%  block age_type %}
    {{ block('text_type') }}
{% endblock %}

{%  block link_type %}
    {% spaceless %}
        
        <a href="{{ value.url  }}" target="{{ options.target }}">
            {{ value.label }}
        </a>
    {% endspaceless %}
{% endblock %}


{% block dateinterval_type %}
    {{ value.format(options.format|trans) }}
{% endblock %}


{%  block money_type %}
 {##}  <div style="text-align: right;{% if (valueObject is defined) and (valueObject.original < 0) %}color:#ff0000;{% endif %}">{{ block('text_type') }}</div>
{% endblock %}

{%  block choice_type %}
    {% set index = 0 %}
    {%  for key,val in value %}
        {%  if index != 0 %}{{ options.separator }}{% endif %}
        {% if options.bootstrap.label_callback %}
            <span class="label label-{{ type.getLabel(key) }}">{{ val|trans }}</span>
        {%else%}
            {{ type.getChoiceLabel(source, val|trans, key) }}
        {%endif%}
        {% set index = index+1 %}
    {% endfor %}
  
{% endblock %}