{% use 'EvenceGridBundle:Grid:field_blocks.html.twig' %}

{% block table %}

{% set fromItem = pagination.getFirstRecord()+1  %}					    				    
{% set toItem = pagination.getFirstRecord() + pagination.getCurrentLimit()  %}
{%  if pagination.getTotalRecords() < toItem %}
    {% set toItem = pagination.getTotalRecords()  %}
{% endif %}
    			
{% block stylesheets %}  
		
{% endblock %}   					
    
<form>
    <table class="table table-bordered table-hover table-striped">
    	<thead>   	
    		{% block fields %}
    		<tr>
    		  {% block checkall %}<td><input type="checkbox" value="1" name="check_all" /></td>{% endblock %}
    		      <td>#</td>
    			{% for field in fields %} {% set fieldLabel = field.getLabel() %} 
    			     {% set mapped = field.getMapped() %}
        			 {% set fieldSortUrl = field.getSortUrl() %} {% set fieldIsSorted = '' %}    		 
        			 {% block field %}
            		      <th>{% if mapped %}<a href="{{ fieldSortUrl }}">{{ fieldLabel|trans }}</a>{% else %}{{ fieldLabel|trans }}{% endif %}</th>
            	     {% endblock %}    	      
    			{% endfor %}
    
    			<th>&nbsp;</th>
    		</tr>
    		{% endblock %}
    	</thead>
    	<tbody>
    		{% block rows %}     		
        		{% for row_no, row in rows %}
        		<tr>
        		    {% block col_checkbox %}<td><input type="checkbox" value="1" name="id[]" /></td>{% endblock %} 
        		    {% block col_number %}<td>{{ row_no+fromItem  }}</td>{% endblock %}
        		
        			{% for col in row.cols %} {% block col %}
        			
        			{% set fieldname = col.value.getType().getField().getIdentifier() %}        			
        			{% set value = col.value.getValue() %}
        			{% set options = col.value.getOptions() %}
        			{% set blockName = col.fieldname~ '_type' %} 			       			
        		      <td {% if options.align %}style="text-align: {{ options.align }};"{% endif %}  class="col-{{ fieldname }}{% if options.class %} {{ options.class }}{% endif %}">{{ block(blockName) }}</td> 
        			{% endblock %} {% endfor %}
        
        			<td>&nbsp;</td>
        		</tr>
        		{% endfor %} 
    		{% endblock %}
    	</tbody>
    	
    	{% set totalFields = fields|length %}
    	{% block footer %}
    	<tfoot>    	
    		<tr>
    			<td colspan="{{  totalFields +3 }}">
    				<div class="row">
    					<div class="col-lg-6">   					    
    						<span>{% trans %}Display{% endtrans %} <span class="pages"> <span class="current-offset"> {{ fromItem }}</span> - <span class="to">{{ toItem }}</span>
    								{% trans %}from{% endtrans %} <span class="totalRecords">
    								{{	pagination.getTotalRecords()}}</span> | {% trans %}Items per page{% endtrans %}: 
    								
    								 <select onchange="top.location.href=this.value;">
        						         {%  for itm in itemsperpage %}
        						              <option value="{{ grid.generateLimitUrl(itm) }}" {%  if pagination.getMaxRecords == itm %} selected="selected"{% endif %}>{{ itm }}</option>
        						         {% endfor %}
    						         </select>
    						</span>
    					
    					</div>
    					<div class="col-lg-6">
    						{% block pagination %}
    						<ul class="pagination pull-right">
    							{% if pagination.hasPreviousPage() %}
    							   {%  set url = pagination.getPreviousPage().getUrl() %}						       
    							   {% block pagePrevious %}		
            							<li>
            							     <a href="{{ url }}">
            							     <i class="fa fa-angle-left"></i> {% trans %}Previous{% endtrans %}</a>
            							</li>
        							{% endblock %}	
    							{% endif %} 
    							
    							{% for page in pagination.getPages(3) %}
    							     <li {% if page.getCurrent() %} class="active" {% endif %}><a href="{{ page.getUrl() }}">{{ page.getName() }}</a></li> 
    							{% endfor %} 
    							
    							{% if pagination.hasNextPage() %}
    							    {%  set url = pagination.getNextPage().getUrl() %}
    							    {% block pageNext %}							    												    
            							<li>
            							     <a href="{{ url }}">{% trans	%}Next{% endtrans %}<i class="fa fa-angle-right"></i></a> 
            							</li>    		
        							{% endblock %}					
        					    {% endif %}
    						</ul>
    						{% endblock %}
    
    					</div>
    				</div>
    		     </td>
    		</tr>
    	</tfoot>
    	{% endblock %}
    </table>
</form>
{% endblock %}

{% block javascripts %}

{% endblock %}
