{% extends 'EvenceGridBundle:Grid:grid_base.html.twig' %}


{% block filter %}
    {% if filter.hasFields() %}
        <div class="col-lg-4">
            {{ parent() }}
        </div>
    {% endif %}
{% endblock %}

{% block table %}
 {% set tableAttributes = tableAttributes|merge({'class': 'table table-bordered table-hover table-striped '}) %} 
 <div class="col-lg-{% if filter.hasFields() %}9{% else %}12{% endif %}">
    <table {{ g.attributes(tableAttributes) }}>
    	<thead>   	
	       {{ block('fields') }}
    	</thead>
    	<tbody>
    		{{ block('rows') }}
    	</tbody>   	    
    	<tfoot>    	
    	    {{ block('footer') }}
    	</tfoot>    	
    </table>
</div>
{% endblock table %}

{%  block actions %}
  <div class="btn-group btn-group-xs" role="group">{{ parent() }}</div>
{% endblock %}
 
{% block action %}
    {% set actionAttributes = actionAttributes|merge({'class': 'btn btn-default '~ actionAttributes.class}) %}   
    {{ parent() }}
{% endblock %}

{% block sortUp %}
    <span class="caret"></span>
{%endblock%}

{% block sortDown %}
<span class="dropup">
    <span class="caret"></span>
</span>
{% endblock %}